.signOutButtonContainer {
    /* Add styles for the container which affects the button inside */
    padding: 10px;
    background-color: #f44336; /* Red background */
    border-radius: 5px; /* Rounded corners */
  }
  
  .signOutButtonContainer button {
    width: 100%; /* Make button fill the container */
    color: white; /* White text */
    padding: 10px 20px; /* Padding */
    border: none; /* No border */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Font size */
  }
  